.main-title {
  border-left: 4px solid #618967;
  padding-left: 1.1875rem;
}

.main-card-wrap {
  margin-top: 60px;
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 20px 0;

  .main-card {
    overflow: hidden;
    min-width: 325px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    transition: .3s;
    border-radius: 10px;

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 10px;

      & img {
        width: 100%;
        display: block;
      }

      .card-image-count {
        position: absolute;
        top: -10px;
        right: -10px;
        background: #79B282;
        border-radius: 50%;
        padding: 14px 20px;

        font-weight: 700;
        font-size: 1.25rem;
        color: #FFF;
        transform: translateY(-300%);
        transition: .2s;

      }
    }

    &-content {
      padding: 20px;

      .main-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-title {
          font-weight: 700;
          font-size: 1.375rem;
        }

        .card-subtitle {
          color: #FFFFFF;
          font-weight: 400;
          font-size: 0.75rem;
        }
      }

      .main-card-desc {
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.0625rem;
        color: #CFCFCF;
      }

      .main-card-info {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-btn {
          background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
          border-radius: 10px;
          padding: 12px 20px;
          font-weight: 600;
          color: #FFF;
          font-size: 0.875rem;

          border: none;
          outline: none;

        }

        .card-price {
          font-weight: 600;
          font-size: 1.25rem;
          color: #FFF;
          transform: translateX(-150%);
          transition: .2s;
        }
        
        .card-btn--default {
          display: inline-flex;
        }

        .card-btn--edit {
          display: none;
        }

        .card-btn--hover {
          transform: translateX(-200%);
          transition: .2s;
        }
      }
    }

    &:hover {
      box-shadow: 0px 30px 45px rgba(43, 40, 40, 0.6);

      .card-btn {
        cursor: pointer;
      }
      .card-btn--hover {
        transform: translateX(0);
      }
      .card-btn--default {
        display: none;
      } 

      .card-btn--edit {
        display: inline-flex;
      }

      .card-price {
        transform: translateX(0);
      }

      .card-image-count {
        transform: translateY(0);
      }
    }
  }
}