.main-title {
  border-left: 4px solid #618967;
  padding-left: 1.1875rem;
  margin-top: 40px;
}

.main-card-wrap {
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 20px 0;

  .main-card {
    overflow: hidden;
    min-width: 325px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
    transition: 0.3s;
    border-radius: 10px;

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 10px;

      & img {
        width: 100%;
        display: block;
      }

      .card-image-count {
        position: absolute;
        top: -10px;
        right: -10px;
        background: #79b282;
        border-radius: 50%;
        padding: 14px 20px;

        font-weight: 700;
        font-size: 1.25rem;
        color: #fff;
        transform: translateY(-300%);
        transition: 0.2s;
      }
    }

    &-content {
      padding: 20px;

      .main-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-title {
          font-weight: 700;
          font-size: 1.375rem;
        }

        .card-subtitle {
          color: #ffffff;
          font-weight: 400;
          font-size: 0.75rem;
        }
      }

      .main-card-desc {
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.0625rem;
        color: #cfcfcf;
      }

      .main-card-info {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-btn {
          background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
          border-radius: 10px;
          padding: 12px 20px;
          font-weight: 600;
          color: #fff;
          font-size: 0.875rem;

          border: none;
          outline: none;
        }

        .card-price {
          font-weight: 600;
          font-size: 1.25rem;
          color: #fff;
          transform: translateX(-150%);
          transition: 0.2s;
        }

        .card-btn--default {
          display: inline-flex;
        }

        .card-btn--edit {
          display: none;
        }

        .card-btn--hover {
          transform: translateX(-200%);
          transition: 0.2s;
        }
      }
    }

    &:hover {
      box-shadow: 0px 30px 45px rgba(43, 40, 40, 0.6);

      .card-btn {
        cursor: pointer;
      }
      .card-btn--hover {
        transform: translateX(0);
      }
      .card-btn--default {
        display: none;
      }

      .card-btn--edit {
        display: inline-flex;
      }

      .card-price {
        transform: translateX(0);
      }

      .card-image-count {
        transform: translateY(0);
      }
    }
  }
}
.main-card-content {
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px;
  @include _992px {
    padding: 0;
  }
}
.text {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 15px;
  color: white;
  margin-bottom: 30px;
  @include _768px {
    overflow-x: auto;
  }
}
.main-card-full {
  max-width: 1210px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include _992px {
    flex-direction: column;
  }
}
.card-p {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #cfcfcf;
}

.main-card-image-full {
  min-height: 399px;
  max-width: 599px;
  flex-basis: 100%;
  @include _992px {
    min-height: unset;
    max-width: unset;
    flex-basis: unset;
  }
}
.main-card-image-full-img {
  width: 100%;
  height: 100%;
}
.main-card-title-full {
  margin-bottom: 113px;
  @include _992px {
    margin: 0;
  }
}
.card-subtitle-2 {
  color: white;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}
.card-btn-busket-2 {
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  height: 50px;
  width: 145px;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
}
.main-card-info-2 {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 30px;
}
.main-card-info-text {
  font-family: Gilroy;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: white;
}
.main-compound-span {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px;
  color: white;
}
.main-card-compound-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.main-card-compound-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-number-span {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 10px;
}
.main-card-come-back-icon {
  width: 50%;
  height: 50%;
}
.main-card-come-back-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  height: 26px;
  width: 26px;
  border-radius: 10px;
}
.main-card-come-back {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  padding: 10px;
}
