.modal-busket {
  position: fixed;
  width: 100%;  
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(-500%);
  transition: .3s;

  z-index: 15;

  &.modal-active {
    transform: translateY(0);
  }


  .modal-item {
    max-width: 600px;
    background: #2E2B2C;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 20px;

    .modal-title-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .modal-link {
      font-weight: 600;
      font-size: 1;
      color: #fff;
    }

    .modal-title {
      font-size: 2.5rem;
      margin: 10px 0 25px;
    }

    .busket-card {
      display: flex;

      .busket-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
  
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      .busket-info {
        display: flex;
        flex-direction: row;
        gap: 15px;

        .busket-title-wrap {
          .busket-title {
            font-weight: 700;
            font-size: 2rem;
          }
        }

        

        .busket-btn {
          display: inline-flex;
          background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
          border-radius: 10px;
          padding: 12px 20px;
          font-weight: 600;
          color: #FFF;
          font-size: 0.875rem;
          border: none;
          outline: none;
        }
      }

      @include _768px {
        flex-direction: column;

        .busket-image {
          width: 100%;
        }
      }
    }

    

    .busket-info {
      padding: 20px;
    }
  }
}

.black {
  background: #000 !important;
}

.sitemap-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(500%);
  transition: .2s;
  background: rgba(#000, 0.5);

  &.is-active {
    transform: translateY(0);
  }

  .sitemap {
    background: #2E2B2C;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    &-title-wrap {
      text-align: center;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .sitemap-link {
        font-weight: 600;
        font-size: 1rem;
        color: #fff;


        &.active {
          color: #72A479;
        }
      }
    }
  }
}