.header {
  background: #403C3B;
}

.container-nav {
  display: flex;
  align-items: center;
  gap: 30px;

  .hamburger {
    display: none;
    flex-grow: 1;
    z-index: 12;
  }

  .nav-logo {
    flex-grow: 1;
  }

  .nav-search {
    background: #504B4A;
    border-radius: 10px;
    overflow: hidden;
    flex-grow: 2.5;


    &-input {
      width: 100%;
      padding: 16px 18px;
      background: #504B4A;
      color: #CFCFCF;
      border: none;
      outline: none;

      &::placeholder {
        font-weight: 400;
        font-size: 1.125rem;
        color: #CFCFCF;
      }
    }
  }

  .nav-contact {
    display: flex;
    align-items: center;
    max-width: 140px;
    text-align: left;
    
    flex-wrap: wrap;
    flex-grow: 1;

    &-subtitle {
      font-weight: 400;
      color: #CFCFCF;
      font-size: 0.75rem;
    }

    &-title {
      font-weight: 700;
      color: #fff;
      font-size: 1rem;
    }
  }

  .nav-busket {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    flex-grow: 1;

    color: #FFF;
    font-weight: 600;
    font-size: 0.875rem;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
    padding: 14px;

    &-count {
      padding: 5px 8px;
      border-radius: 50%;
      background: #fff;
      font-weight: 600;
      font-size: 0.75rem;
      color: #403C3B;
    }

    .busket-count-wrap {
      border-left: 1px solid #fff;
      padding-left: 12px;
    }
  }

  .nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    padding: 70px 10px;
    z-index: 11;

    display: flex;
    flex-direction: column;
    gap: 15px;

    .nav-link {
      font-weight: 600;
      font-size: 1.875rem;
      color: #fff;

    }    
    background: #333;
    transform: translateX(-100%);
    transition: .3s;

    &.is-active {
      transform: translateX(0);
    }

    .nav-contact {
      display: flex;
      align-items: center;
      max-width: 140px;
      text-align: left;
      
      flex-wrap: wrap;
      flex-grow: 1;
  
      &-subtitle {
        font-weight: 400;
        color: #CFCFCF;
        font-size: 0.75rem;
      }
  
      &-title {
        font-weight: 700;
        color: #fff;
        font-size: 1rem;
      }
    }
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(#000, 0.5);
  transition: .3s;
  z-index: 10;

  

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

@include _768px {
  .container-nav {
    flex-wrap: wrap;

    .hamburger {
      display: inline-flex !important;
      order: 0;
      flex-grow: 1;
    }

    .nav-logo {
      order: 2;
      flex-grow: 3;
      text-align: center;
    }

    .nav-busket-wrap {
      order: 3;
      flex-grow: 1;

      .nav-busket {
        flex-direction: column;
        gap: 1px;

        .busket-count-wrap {
          border-left: unset;
          border-top: 1px solid #fff;
          padding-left: 0;
          padding-top: 7px;
        }
      }
    }

    .nav-search {
      flex-basis: 100%;
      order: 4;
    }

    .nav-contact {
      display: none;
    }
  }
}