@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.ttf) format("truetype"), url(../fonts/Gilroy-Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-SemiBold.ttf) format("truetype"), url(../fonts/Gilroy-SemiBold.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.ttf) format("truetype"), url(../fonts/Gilroy-Medium.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf) format("truetype"), url(../fonts/Gilroy-Regular.woff) format("woff");
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gilroy", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px;
}

.logo {
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5625rem;
}

.header {
  background: #403C3B;
}

.container-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.container-nav .hamburger {
  display: none;
  flex-grow: 1;
  z-index: 12;
}
.container-nav .nav-logo {
  flex-grow: 1;
}
.container-nav .nav-search {
  background: #504B4A;
  border-radius: 10px;
  overflow: hidden;
  flex-grow: 2.5;
}
.container-nav .nav-search-input {
  width: 100%;
  padding: 16px 18px;
  background: #504B4A;
  color: #CFCFCF;
  border: none;
  outline: none;
}
.container-nav .nav-search-input::placeholder {
  font-weight: 400;
  font-size: 1.125rem;
  color: #CFCFCF;
}
.container-nav .nav-contact {
  display: flex;
  align-items: center;
  max-width: 140px;
  text-align: left;
  flex-wrap: wrap;
  flex-grow: 1;
}
.container-nav .nav-contact-subtitle {
  font-weight: 400;
  color: #CFCFCF;
  font-size: 0.75rem;
}
.container-nav .nav-contact-title {
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
}
.container-nav .nav-busket {
  display: inline-flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  color: #FFF;
  font-weight: 600;
  font-size: 0.875rem;
  background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
  border-radius: 10px;
  padding: 14px;
}
.container-nav .nav-busket-count {
  padding: 5px 8px;
  border-radius: 50%;
  background: #fff;
  font-weight: 600;
  font-size: 0.75rem;
  color: #403C3B;
}
.container-nav .nav-busket .busket-count-wrap {
  border-left: 1px solid #fff;
  padding-left: 12px;
}
.container-nav .nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  padding: 70px 10px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #333;
  transform: translateX(-100%);
  transition: 0.3s;
}
.container-nav .nav-mobile .nav-link {
  font-weight: 600;
  font-size: 1.875rem;
  color: #fff;
}
.container-nav .nav-mobile.is-active {
  transform: translateX(0);
}
.container-nav .nav-mobile .nav-contact {
  display: flex;
  align-items: center;
  max-width: 140px;
  text-align: left;
  flex-wrap: wrap;
  flex-grow: 1;
}
.container-nav .nav-mobile .nav-contact-subtitle {
  font-weight: 400;
  color: #CFCFCF;
  font-size: 0.75rem;
}
.container-nav .nav-mobile .nav-contact-title {
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  z-index: 10;
}
.overlay.is-active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .container-nav {
    flex-wrap: wrap;
  }
  .container-nav .hamburger {
    display: inline-flex !important;
    order: 0;
    flex-grow: 1;
  }
  .container-nav .nav-logo {
    order: 2;
    flex-grow: 3;
    justify-content: center;
  }
  .container-nav .nav-busket-wrap {
    order: 3;
    flex-grow: 1;
  }
  .container-nav .nav-search {
    flex-basis: 100%;
    order: 4;
  }
  .container-nav .nav-contact {
    display: none;
  }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #65906C;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #65906C;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * 3DXY
 */
.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}
.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg);
}
.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*# sourceMappingURL=styles.css.map */
